#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background: linear-gradient(
			135deg,
			rgba(37, 117, 252, 0.8),
			rgba(106, 17, 203, 0.8)
		),
		url("path/to/your/pattern.png"); /* Lighter to Darker Gradient */
	background-size: cover;
	background-blend-mode: overlay; /* Blend the gradient and pattern */
}

.app-container {
	margin: 1rem auto;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.poke-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
	border: 1px solid #ced4da;
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 250px;
	background-color: #ffffff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.pagination-container {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 100%;
}

.pagination-buttons-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.5rem;
}

.pagination-numbers-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.5rem;
	flex-wrap: wrap;
	max-width: 100%;
	overflow: hidden;
}

button {
	background-color: #ffffff;
	color: #007bff;
	border: 1px solid #007bff;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

button:hover {
	background-color: #007bff;
	color: #ffffff;
}

button:disabled {
	background-color: #ced4da;
	color: #6c757d;
	cursor: not-allowed;
}

.activePaginationButton {
	background-color: #ffc107;
	color: #343a40;
	border: 1px solid #ffc107;
}

.app-title {
	font-size: 2.5rem;
	font-weight: 600;
	color: #343a40;
	margin-bottom: 1rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.divider {
	border: none;
	height: 2px;
	background-color: #007bff;
	margin: 1rem 0;
}
