#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  margin: 1rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.poke-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 150px;
}

.activePaginationButton {
  background-color: #004cff;
  color: #fff;
}
